body {
  text-align: center;
  background-color: #f0e8c5;
}

label {
  display: inline-block;
  float: left;
  clear: both;
  width: 40%;
  text-align: right;
  padding-right: 10px;
  white-space: 40px;
}

input {
  float: left;
  border: none;
  width: 300px;
}

input.serial_number {
  width: 130px;
}

input.variableInput{
  width: 150px;
  margin-bottom: 5px;
}

input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

select {
  float: left;
  border: none;
  background-color: #ffefc5;
}

ul {
  /*display: inline-block;*/
  text-align: left;
}

.delete{
  float: left;
  margin-left: 5px;
  border: none;
}

p.subtitle {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold; 
} 
